* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a:visited { text-decoration: none; color:white;}
a:hover { text-decoration: none; color:yellow }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #3f0f40;
    padding: 6px 10px;
}

.sidebar .logo-details {
    height: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

/* .sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    min-width: 50px;
    text-align: right;
    line-height: 50px;
    margin-left: 75px;
} */

.sidebar .logo-details box-icon{
    fill: #fff;
    height: 30px;
    min-width: 50px;
    text-align: right;
    line-height: 0px;
    margin-left: 75px;
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 100;
}

.sidebar .nav-links {
    height: 100%;
    padding-top: 30px
}

.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover{
    background:#6f3b70;

}

.sidebar .nav-links li .icon-link {
    display: flex;
    align-items:center;
    justify-content: space-between;

}
 /*ABOUT TO CHANGE*/
/* .sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
} */

.sidebar .nav-links li box-icon {
    height: 30px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    fill: #fff;
}

.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link-name{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 25px;
    margin-top: -10px;
    background: #3f0f40;
    /* display: none; */
}
.sidebar .nav-links li .sub-menu a:hover{
    background:#6f3b70
}

.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
}

.sidebar.close .nav-links li .sub-menu{
position: absolute;
}
